{% extends "base.twig" %}
{% block content %}
    <article id="frontPageContentContainer">
        <div id="frontPagePictureBox">
            <img id="frontPagePicture" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
        </div>
        <div id="frontPageText">
            <h1 id="frontPageTitle">{{ post.title }}</h1>
            <section id="frontPageDesc">{{post.content}}</section>
            <div id="frontPageArticleButton" class="buttonGradient goldCustomBorder">
                <a href="{{site.url}}/zacznij-tutaj" id="frontPageArticleAnchor">Zacznij tutaj</a>
            </div>
        </div>
    </article>
{% endblock %}