{% if menu %}
	<ul {% if menuLocation %} id="{{ menuLocation }}NavbarList" {% endif %}>
		{% for item in items %}
		<li class="{{ item.classes | join(' ') }} {% if menuLocation %}{{ menuLocation }}NavbarListItem{% endif %}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }} {% if item.title == "Sklep" %} {% endif %}</a>
{#			{% include "menu.twig" with {'items': item.children} %}#}
			{% if item.title != "Sklep" %} <div class="navItemBorder"></div> {% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
