{% if menu %}
	<ul {% if menuLocation %} id="{{ menuLocation }}NavbarList" {% endif %}>
		{% for item in items %}
{#			{{ item.classes | join(' ') }}#}
			<li class="{% if menuLocation %}{{ menuLocation }}NavbarListItem{% endif %} {% if item.title == 'Sklep' %}hdrNavbarShopItem {% if navShopItemAnimation != 'disabled' %}{{ navShopItemAnimation }}{% endif %}{% endif %}">
				<a id="hdrNavbarListItemAnchor" class="textAlignCenter colorSilver flexCenterCenter" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.title == 'Sklep' %}
					<div id="shopPreview">
						{% for post in fn('getWCProducts') %}
							{% include ["partials/tease-product.twig"] %}
						{% endfor %}
					</div>
				{% endif %}
				{% if item.title == "Sklep" and navShopItemAnimation == 'snakeAnimationButton' %}
					<div class="leftButtonAnimation"></div>
					<div class="rightButtonAnimation"></div>
					<div class="topButtonAnimation"></div>
					<div class="bottomButtonAnimation"></div>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
