{% extends "page.twig" %}

{% block pageContent %}
    {{post.content}}
    <ul id="postList">
        {% for post in posts %}
            <li class="postListItem">
                {% if fn('sZThemeSettingsTableOfContentsOptionValue') %}
                    <a id="postListItemAnchor" href="{{ post.link }}">
                        <div id="postListItemPicture" style="background-image: url({{ post.thumbnail.src }});"></div>
                        <h2 id="postListItemTitle" class="textAlignCenter flexCenterCenter">{{ post.postOrder }}. {{ post.title }}</h2>
                        <div id="postListItemDesc" class="textAlignCenter">
                            {% if post.meta('desc') %}{{ post.meta('desc') }}
                            {% else %}{{ post.preview.length(20).read_more('') }}
                            {% endif %}
                        </div>
                    </a>
                {% else %}
                    <a id="postListItemAnchorSimpleLayout" class="textAlignCenter flexCenterCenter" href="{{ post.link }}">
                        <h2 id="postListItemTitle" class="textAlignCenter flexCenterCenter">{{ post.postOrder }}. {{ post.title }}</h2>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}