{% extends "page.twig" %}

{% block pageContent %}
    {{post.content}}
    <ul id="postList">
        {% for post in posts %}
            <li class="postListItem">
                {% if fn('sZThemeSettingsTableOfContentsOptionValue') %}
                    <a class="postListItemAnchor" href="{{ post.link }}">
                        {#                                    <img class="postListItemPicture" src="{{ post.thumbnail }}">#}
                        <div class="postListItemPicture" style="background-image: url({{ post.thumbnail.src }});"></div>
                        <h2 class="postListItemTitle">{{ post.postOrder }}. {{ post.title }}</h2>
                        <div class="postListItemDesc">
                            {% if post.meta('desc') %}{{ post.meta('desc') }}
                            {% else %}{{ post.preview.length(20).read_more('') }}
                            {% endif %}
                        </div>
                    </a>
                {% else %}
                    <a class="postListItemAnchorSimpleLayout" href="{{ post.link }}">
                        <h2 class="postListItemTitle">{{ post.postOrder }}. {{ post.title }}</h2>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}