{% extends "base.twig" %}

{% block content %}
	<article id="postArticle">
		<header id="articleHeader" class="parallaxBg" style="background-image: url({{ post.thumbnail.src }});">
			<h1 id="articleTitle">{{ post.title }}</h1>
		</header>
		<section id="articleContent">
				{{post.content}}
		</section>
		<footer id="articlePagination">
			<div id="articlePaginationPrev" class="{% if post.prev != null %}buttonGradient{% endif %}">
				{% if post.prev != null %}
					<a id="articlePaginationPrevLink" href="{{ post.prev.link }}" class="">
						<span>Poprzedni post:</span>
						<span>{{post.prev.title}}</span>
					</a>
				{% endif %}
			</div>
			<div id="articlePaginationNext" class="{% if post.next != null %}buttonGradient{% endif %}">
				{% if post.next != null %}
					<a id="articlePaginationNextLink" href="{{ post.next.link }}" class="">
						<span>Następny post:</span>
						<span>{{post.next.title}}</span>
						{#							<span>{{ post.next.get_preview(25) }}</span>#}
					</a>
				{% endif %}
			</div>
		</footer>
	</article>
{% endblock %}

